* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.clearfix {
  content: "";
  display: table;
  clear: both;
}

.bg-gazzetta {
  background-color: #FDE9EB;
}

.wrapper {
  width: 950px;
  margin: 0 auto;
}

.top-page-contet {
  width: 100%;
  margin-bottom: 35px;
}

.video-preview {
  width: 20%;
  height: 100px;
  float: left;
  position: relative;
}

.video-1 {
  background: url(img/video-preview1.jpg);
  background-size: cover;
}
.video-2 {
  background: url(img/video-preview2.jpg);
  background-size: cover;
}
.video-3 {
  background: url(img/video-preview3.jpg);
  background-size: cover;
}
.video-4 {
  background: url(img/video-preview4.jpg);
  background-size: cover;
}
.video-5 {
  background: url(img/video-preview5.jpg);
  background-size: cover;
}

.overlay {
  width: 100%;
  height: 30%;
  position: absolute;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
}

.overlay .overlay-text {
  position: absolute;
  left: 0;
  padding-left: 2px;
  width: 80%;
  color: #FFF;
  font-size: 13px;
  font-weight: bold;
}

.overlay img {
  width: 20%;
  position: absolute;
  right: 0;
  height: 100%;
}

nav {
  font-size: 11px;
  font-weight: 400;
  text-align: left;
  width: 17%;
  float: left;
}

li img {
  width: 15px;
  margin-right: 7px;
}

.menu {

  list-style: none;
  border-width: 3px 1px 0 0;
  border-style: solid;
  border-color: black grey;
}

.menu li {
  margin: 10px 0;
}

.menu :first-child:not(img) {
  font-size: 14px;
  font-weight: bolder;
  padding-bottom: 6px;
  border-bottom: 1px solid grey;
}

main {
  float: left;
  margin-left: 3%;
  width: 80%;
}

main .central {
  width: 60%;

}

main .lateral {
  width: 40%;

}

main .central .main-art {
  background: url(img/main-image.jpg);
  width: 100%;
  background-size: cover;
  position: relative;

}

main .central .main-art .info {

}
